<p id="notice"><%= notice %></p>

<h1>Matchsets</h1>

<table>
  <thead>
    <tr>
      <th>Song name</th>
      <th>Picked player</th>
      <th>Player1 score</th>
      <th>Player2 score</th>
      <th>Match</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matchsets.each do |matchset| %>
      <tr>
        <td><%= matchset.song_name %></td>
        <td><%= matchset.picked_player_id %></td>
        <td><%= matchset.player1_score %></td>
        <td><%= matchset.player2_score %></td>
        <td><%= matchset.match_id %></td>
        <td><%= link_to 'Show', matchset %></td>
        <td><%= link_to 'Edit', edit_matchset_path(matchset) %></td>
        <td><%= link_to 'Destroy', matchset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matchset', new_matchset_path %>
