<p id="notice"><%= notice %></p>

<p>
  <strong>Song name:</strong>
  <%= @matchset.song_name %>
</p>

<p>
  <strong>Picked player:</strong>
  <%= @matchset.picked_player_id %>
</p>

<p>
  <strong>Player1 score:</strong>
  <%= @matchset.player1_score %>
</p>

<p>
  <strong>Player2 score:</strong>
  <%= @matchset.player2_score %>
</p>

<p>
  <strong>Match:</strong>
  <%= @matchset.match_id %>
</p>

<%= link_to 'Edit', edit_matchset_path(@matchset) %> |
<%= link_to 'Back', matchsets_path %>
