<%= form_for(qualifier) do |f| %>
  <% if qualifier.errors.any? %>
    <% qualifier.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <div class="row">
      <%= f.label :name, "Song Name + Level", class: "col-md-2 control label" %>
      <div class="col-md-12">
        <%= f.text_field :name, class: "form-control"%>
      </div>
    </div>
  </div>
  <% if !qualifier.persisted? %>
    <%= f.hidden_field :number, :value => @qualifier_count %>
  <% end %>
  <%= f.hidden_field :tiebreaker, :value => false %>
  <%= f.submit "Submit", class: "btn btn-default btn-primary" %>

<% end %>
