<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @qualifier.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @qualifier.number %>
</p>

<p>
  <strong>Tiebreaker:</strong>
  <%= @qualifier.tiebreaker %>
</p>

<%= link_to 'Edit', edit_qualifier_path(@qualifier) %> |
<%= link_to 'Back', qualifiers_path %>
