<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @player.phone %>
</p>

<p>
  <strong>Challonge player:</strong>
  <%= @player.challonge_player_id %>
</p>

<p>
  <strong>Qualifier score:</strong>
  <%= @player.qualifier_score %>
</p>

<p>
  <strong>Seed:</strong>
  <%= @player.seed %>
</p>

<p>
  <strong>Place:</strong>
  <%= @player.place %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @player.tournament_id %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
