<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th>Challonge match</th>
      <th>Tournament</th>
      <th>Player1</th>
      <th>Player2</th>
      <th>Player1 score</th>
      <th>Player2 score</th>
      <th>Winner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.challonge_match_id %></td>
        <td><%= match.tournament_id %></td>
        <td><%= match.player1_id %></td>
        <td><%= match.player2_id %></td>
        <td><%= match.player1_score %></td>
        <td><%= match.player2_score %></td>
        <td><%= match.winner_id %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
